<div class="recipe-metadata" style="display: flex; gap: 20px; color: #666; font-size: 0.9em; border-bottom: 1px solid #eee; padding-bottom: 10px; margin-bottom: 20px;">
  {% if page.cuisine %}
    <span>🌍 <strong>Cuisine:</strong> {{ page.cuisine }}</span>
  {% endif %}
  
  {% if page."Active Time" %}
    <span>⏱️ <strong>Active Time:</strong> {{ page."Active Time" }}</span>
  {% endif %}

  {% if page."Total Time" %}
    <span>⏱️ <strong>Active Time:</strong> {{ page."Total Time" }}</span>
  {% endif %}

  {% if page.servings %}
    <span>🍽️ <strong>Serves:</strong> {{ page.servings }}</span>
  {% endif %}
</div>

{% assign image_path = "_assets/" | append: page.slug | append: ".jpg" %}

{% for file in site.static_files %}
  {% if file.path contains image_path %}
    <img src="{{ image_path | relative_url }}" alt="{{ page.title }}" style="max-width:100%; height:auto; border-radius: 8px;">
  {% endif %}
{% endfor %}

{{ content }}
